.secao__hero {
  width: 100%;
  height: 904px;
  display: flex;
  align-items: center;
  background-color: var(--azul-primario);
}

.secao__hero--conteudo {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
  height: 696px;
  gap: 100px;
}

.secao__hero--informacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
